@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Handlee|Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;  
}
html {
  font-size: 16px;
  height: 100%;
  body {
    background-image: url("../images/assorted-color-leaves-2652346.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100%;
    position: relative;
    margin-bottom: 77px;
    h1 {
      font-size: 3rem;
        }
    
    section {
      padding: 20px;
      width: 90%;
      margin: 20px auto;
    }
    .note-header{
      padding: 30px;
      font-size: 1.7rem;
      font-family: 'Handlee', cursive;
      background-color: rgba(224, 224, 224, 0.726); 
      width: 80%;   
      color: black;
      border-radius: 20px;
    }
    .favorite-note{
      align-self: center;
      font-size: 1.5rem;
    }

    h3{
      font-family: 'Open Sans', sans-serif;
      width: 100%;
    }
  }
}
.noteWrapper{
  width: 80%;
  background-color: rgb(224, 224, 224) ;    
  padding: 20px;
  border-radius: 20px;
}

p{
  font-family: 'Open Sans', sans-serif !important;
  background-color: white !important;
}
.ql-formats > span{
  font-size: 1.2rem!important;
}
.ql-toolbar{
padding: 10px;
background-color: white;

}
.ql-editor , .ql-blank{
background-color: white;
font-size: 1.5rem;
}
.login {
  .login-wrapper {
    padding: 60px;
    background-color: rgba(224, 224, 224, 0.63) ;
    font-family: 'Handlee', cursive;
  }
  .login-inputs {
    padding-bottom: 30px;
    span {
      padding: 7px 10px;
      font-size: 1.5rem;
    }
    .usernameInput{
      border-radius: 20px;
      padding: 7px 10px;
      border: none;
      outline: none;  
    }
  }
}

  .log-out {
    align-self: flex-end;
  }
  .logout-wrapper {
    align-items: flex-end;
  }
.note-title-input{
  margin-bottom: 20px;
  flex: 2;
  background-color: white;
  margin-right: 10px;
}
.save-note {
  margin-top: 20px;
}
.note-card {
  cursor: pointer;
  padding:10px;
}
.note-cards{
  flex-wrap: wrap;
  .note-card-wrapper{
    background-color: rgba(153, 205, 50, 0.863);
    color: black;
    border-radius: 20px;
    padding: 60px;
    margin: 20px;
    width: 200px;
    height: 90px;
  }
  .a {
    align-items: center;
  }
}
.close-note{
  align-self: flex-end;
  margin-bottom: 20px;
}

.navbar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 72px;
  padding: 10px 0;
  button {
    padding: 10px;
    font-size: 1.5rem;
    border: none;
    background: none;
  }
  .button-round {
    background-color: black;
    box-shadow: 0px 2px 4px rgb(51, 50, 50);
    padding: 20px;
    border-radius: 1000px;
  }
  .favorite-btn {
    font-size: 2rem;
    // color: white;
  }
}

.search {
  button {
    padding: 10px;
  }
  input {
    background-image: url("../images/iconfinder_icon-111-search_314807.svg");
    background-repeat: no-repeat;
    background-position: left;
    width: 80%;
    font-size: 1.1rem;
    border-radius: 20px;
    padding: 12px 20px;
    font-size: 20px;
    border: none;
    outline: none;
    text-indent: 20px;
  }

}
input , button{
  border-radius: 20px;
  padding: 7px 10px;
  font-size: 20px;
  border: none;
  outline: none;
  font-family: 'Open Sans', sans-serif;
}
button{
  padding: 15px;
  background-color: rgba(151, 153, 186, 0.863);
  color: black;
  font-weight: 500;
}
button:hover{
  background-color: rgba(175, 139, 233, 0.541);
  color: black;
}
input{
  background-color: rgb(224, 224, 224) ;
}

// HELPER CLASSES
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-center {
  align-items: center;
}
.flex-space-between {
  justify-content: space-around;
}
.flex-space-around {
  justify-content: space-around;
}
.hidden {
  display: none;
}


// EOF HELPER CLASSES